.breadcrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--space-2);
    font-size: var(--fs-sm);
    color: var(--lightgrey-color);
}

.breadcrumb.en {
    font-family: var(--ff-poppins);
}

.breadcrumb li::after {
    display: inline-inline;
    content: ">";
    padding-right: 0.5rem;
    font-weight: var(--fw-semibold);
}

.breadcrumb.en li::after {
    padding-left: 0.5rem;
    padding-right: 0;
}

.breadcrumb li:last-child::after {
    content: "";
}