.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: var(--space-1);
    border-radius: 4px;
    cursor: pointer;
}

.btn.sm {
    padding: 0.25rem 0.5rem;
}

.btn.xs {
    padding: 0.1rem 0.25rem;
}

.btn-outline-primary {
    border: 1px solid var(--primary-color);
    color: #777;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-primary:hover {
    opacity: 0.85;
}