.category {
    margin-block: var(--space-3);
}

.category-title {
    font-size: var(--fs-md);
}

.category-list {
    display: grid;
    font-size: var(--fs-xs);
    margin-block: var(--space-1);
}

.category-list li {
    margin-block: 0.15rem;
}

.category-list a {
    color: var(--primary-color);
}

.category-list a:hover {
    text-decoration: underline;
    opacity: 0.85;
}

.category-list ul {
    list-style-type: circle;
    list-style-position: inside;
    color: var(--black-color);
}

@media (max-width: 768px) {
    .category-list {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-2);
    }
}
