.option-green {
    background-color: var(--success-color);
    border-radius: 4px;
}

.option p {
    color: var(--darkgrey-color);
    font-size: var(--fs-md);
}

.option ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: var(--fs-sm);
}

.option a {
    display: inline-block;
    color: var(--primary-color);
    padding-inline: 0.5rem;
    border-radius: 4px;
}

.option a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.option a.active {
    background-color: var(--black-color);
    color: var(--white-color);
}