.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.25rem;
    font-family: var(--ff-poppins);
    margin-block: var(--space-4) var(--space-2);
}

.pagination a {
    display: block;
    padding: 0.25rem var(--space-1);
    border-radius: 4px;
    font-size: var(--fs-sm);
    border: 1px solid #d6d6d6;
    color: var(--black-color);
}

.pagination a:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.pagination a.active {
    color: var(--white-color);
    background-color: var(--primary-color);
}