.clinic__content {
    display: grid;
    align-items: center;
    height: 100%;
    min-height: 80vh;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-3);
}

.clinic__slideshow {
    position: relative;
    overflow: hidden;
}

.clinic__overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clinic__title {
    font-size: var(--fs-xxl);
    color: var(--black-color);
}

.clinic__description {
    margin-top: var(--space-1);
    font-size: var(--fs-md);
    color: var(--darkgrey-color);
}

.clinic__cta {
    margin-top: var(--space-3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-1);
}

.clinic__cta a:hover {
    opacity: 0.85;
}

/* feature */
.feature {
    margin-block: var(--space-1) var(--space-5);
}

.feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    justify-content: space-between;
    font-size: var(--fs-md);
    color: var(--darkgrey-color);
}

.feature__list.xs {
    font-size: var(--fs-xs);
}

.feature__item {
    padding: var(--space-1) var(--space-2);
    border-radius: 4px;
    background-color: var(--success-color);
}

@media(max-width: 890px) {
    .clinic__content {
        grid-template-columns: 1fr;
        min-height: auto;
        gap: 0;
    }

    .feature {
        margin-block: var(--space-5);
    }
}