.download__data h2 {
    color: var(--black-color);
}

.download__panel--left ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    margin-top: var(--space-1);
}

.download__panel--left a {
    display: block;
    padding: 0.25rem 1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    border-radius: 4px;
    color: var(--primary-color);
}

.download__panel--left a:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.download__panel--left a.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.download__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-3);
}

.download__list li {
    display: grid;
    grid-template-columns: 145px 1fr;
    align-items: center;
}

.download__list small {
    color: #6b6b6b;
}

.download__list h4 {
    color: var(--black-color);
}

.download__panel--right h3 {
    font-size: var(--fs-xxl);
}

.download__panel--right figure img {
    max-width: 128px;
    border: 1px solid var(--success-color)
}

.download__panel--right p, .download__panel--right a {
    font-size: var(--fs-sm);
}

.download__panel--right li {
    position: relative;
    overflow: hidden;
}

.download__icon {
    position: absolute;
    font-size: 14rem;
    color: rgba(49, 49, 49, 0.15);
    bottom: 0;
    left: -50%;
    transform: translateX(50%);
    z-index: -1;
}

.download__panel--right.en .download__icon {
    left: 0;
    right: -35%;
}

@media (max-width: 840px) {
    .download__panel--right ul {
        grid-template-columns: 1fr;
    }
}