.change-theme {
    display: inline-block;
    cursor: pointer;
    color: var(--black-color);
    border-radius: 4px;
    box-shadow: inset -2px -2px 4px var(--shadow-color), 
                inset 2px 2px 4px var(--shadow-color);
}

#change-theme {
    display: inline-block;
    padding: 0.25rem var(--space-1);
}

.dark-theme {
    --primary-color: #406ab3;
    --success-color: hsl(218, 47%, 15%);
    --black-color: #fff;
    --white-color: #000;
    --lightgrey-color: #868686;
    --light-color: hsl(0, 0%, 4%);
    --darkgrey-color: hsl(0, 0%, 87%);
    --grey-color: rgba(255, 255, 255, 0.5);
    --shadow-color: rgba(255,255,255,0.1);
}