.header {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.65rem;
    font-family: var(--ff-byekan);
    margin-top: var(--space-2);
    color: var(--lightgrey-color);
}

.nav__top.en {
    font-family: var(--ff-poppins);
}

.nav__top a {
    color: var(--darkgrey-color);
}

.nav__top a:hover {
    opacity: 0.85;
    text-decoration: underline;
}

.nav__utils {
    display: flex;
    align-items: center;
    gap: var(--space-1);
}

.nav__middle {
    margin-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    width: 150px;
}

.nav__search {
    width: 100%;
    max-width: 256px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
}

.nav__list.en {
    font-family: var(--ff-poppins);
}

.nav__link {
    display: inline-block;
    font-size: var(--fs-sm);
    padding: 0.25rem 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 1px solid var(--primary-color);
    transition: all 0.3s;
}

.nav__link:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.nav__link.active {
    background-color: var(--white-color);
    color: var(--black-color);
}

@media (max-width: 865px) {
    .nav__middle {
        flex-direction: column;
        justify-content: center;
    }

    .nav__logo {
        display: block;
        width: 185px;
        margin-bottom: var(--space-2);
    }

    .nav__search {
        width: 100%;
        max-width: 100%;
    }

    .nav__list {
        justify-content: center;
        padding-block: 1rem;
    }
}